h1{
    color: bisque;
}

#H1 {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    color: blue;
    margin: auto;
    padding-left: 680px;
  }
  
  a {
    padding-right: 100px;
    text-decoration: none;
    color: green;
    border: 3px dotted black;
  }
  
  a:hover {
    text-decoration: underline;
    color: red;
  }
  